@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: #121212;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.bannar {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.bannar-left {
  display: flex;
  align-items: center;
  flex: 1;
  color: white;
}
.bannar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.bannar-title {
  font-size: 60px;
  white-space: nowrap;
  position: relative;
  color: transparent;
}
.bannar-text {
  line-height: 2;
  margin: 20px 0;
}
.bannar-title::before {
  content: "Programming hero";
  position: absolute;
  top: 0;
  left: 0;
  color: #22bedd;
  animation: typing 3s linear infinite;
}
@keyframes typing {
  0% {
    content: "P|";
  }

  4% {
    content: "Pr|";
  }

  8% {
    content: "Pro|";
  }

  12% {
    content: "Prog|";
  }

  16% {
    content: "Progr|";
  }

  20% {
    content: "Progra|";
  }

  24% {
    content: "Program|";
  }

  28% {
    content: "Programm|";
  }

  32% {
    content: "Programmi|";
  }

  36% {
    content: "Programmin|";
  }

  40% {
    content: "Programming|";
  }

  44% {
    content: "Programming |";
  }

  48% {
    content: "Programming h|";
  }

  52% {
    content: "Programming he|";
  }

  56% {
    content: "Programming her|";
  }

  60% {
    content: "Programming hero|";
  }

  64%,
  83% {
    content: "Programming hero|";
  }

  84% {
    content: "Programming her|";
  }

  85% {
    content: "Programming he|";
  }

  86% {
    content: "Programming h|";
  }

  87% {
    content: "Programming |";
  }

  88% {
    content: "Programming|";
  }

  89% {
    content: "Programmin|";
  }

  90% {
    content: "Programmi|";
  }

  91% {
    content: "Programm|";
  }

  92% {
    content: "Program|";
  }

  93% {
    content: "Progra|";
  }

  94% {
    content: "Progr|";
  }

  95% {
    content: "Prog|";
  }

  96% {
    content: "Pro|";
  }

  97% {
    content: "Pr|";
  }

  98% {
    content: "P|";
  }

  99% {
    content: "|";
  }

  100% {
    content: "|";
  }
}
button.love-button {
  padding: 10px 30px;
  border: none;
  border: 4px solid #22bedd;
  background-color: #22bedd;
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 10px;
  transition: 0.3s linear;
}

button.love-button:hover {
  background-color: transparent;
  cursor: pointer;
  color: white;
}
.bannar-right img {
  border: 4px solid #22bedd;
}
.section-title {
  text-align: center;
}
.section-title h1 {
  color: white;
  margin: 50px 0px;
  font-size: 3em;
  border-left: 5px solid #22bedd;
  border-right: 5px solid #22bedd;
  display: inline-block;
  line-height: 0.8;
}
.gallary {
  overflow: hidden;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.photo {
  height: 280px;
  width: 280px;
  position: relative;
  overflow: hidden;
}
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.border {
  background: white;
  position: absolute;
  transition: 0.4s ease-in 0.2s;
}
.border.top {
  width: 270px;
  height: 4px;
  left: 100%;
  top: 6px;
}

.border.right {
  width: 4px;
  height: 270px;
  bottom: 100%;
  left: 5px;
}

.border.bottom {
  width: 270px;
  height: 4px;
  right: 100%;
  bottom: 5px;
}

.border.left {
  width: 4px;
  height: 270px;
  right: 5px;
  top: 100%;
}
.photo:hover .border.top {
  left: 5px;
}
.photo:hover .border.right {
  bottom: 5px;
}
.photo:hover .border.bottom {
  right: 5px;
}
.photo:hover .border.left {
  top: 5px;
}
.photo-contant {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding-left: 30px;
  color: white;
  opacity: 0;
  transition: 0.4s linear;
}
.photo:hover .photo-contant {
  opacity: 1;
}
.photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.411);

  opacity: 0;
  transition: 0.3s;
}
.photo:hover::before {
  opacity: 1;
}
